name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      servicePrincipal: ${{ '14d58199-c9d6-4c8f-b8b3-86a4af5f6381' }}
      servicePrincipalPassword: ${{'97f2d985-d74d-4131-be7b-6dc5b7dab328' }}
      tenantId: ${{'9723d66d-a47e-4929-9193-9d830fcff062' }}
      imageRepository: ${{ 'nimaipipelinesjavascriptdocker' }}
      containerRegistry: ${{ 'containerregistrytestnimai.azurecr.io' }}
      tag: ${{ github.run_number }}
      deployer: ${{ github.actor }}
    steps:
      - uses: actions/checkout@v2
      - name: Azure Container Registry Build
        uses: docker/build-push-action@v1.1.0
        with:
          image: ${{ env.imageRepository }}
          username: ${{ env.servicePrincipal }}
          password: ${{ env.servicePrincipalPassword }}
          repository: ${{ env.imageRepository }}
          registry: ${{ env.containerRegistry }}
          dockerfile: ${{ 'app/Dockerfile' }}
          #tag_with_sha: ${{ true }}
          tag: ${{ 'v2' }}
      - name: ACR Fetch Repository Manifest
        id: getManifest
        uses: Azure/cli@v1.0.0
        with:
          inlineScript: |
            az login --service-principal -u ${{ env.servicePrincipal }} -p ${{ env.servicePrincipalPassword }} --tenant ${{ env.tenantId }}
            echo "::set-output name=manifestNewest::$(az acr repository show-manifests -n ${{ env.containerRegistry }} --repository ${{ env.imageRepository }} --orderby time_desc --top 1 --out tsv)"
            echo "::set-output name=manifestOldest::$(az acr repository show-manifests -n ${{ env.containerRegistry }} --repository ${{ env.imageRepository }} --orderby time_asc --top 1 --out tsv)"
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Run python script
        run: |
          pip install requests
          python ttdata_script.py ${{ steps.getManifest.outputs.manifestNewest }} ${{ env.deployer }} ${{ env.imageRepository }}

          

